<div class="search-input">
    <input
        placeholder="Search"
        type="text"
        [(ngModel)]="searchUser"
        (focus)="searchBlocked()"
        (keyup)="filterUsers()"
    />
</div>
<div class="users-list">
    @if (filteredUsers.length) {
        @for (user of filteredUsers; track user.userId) {
            <div>
                <app-chat-info
                    [user]="user"
                    (click)="addBlocked(user)"
                ></app-chat-info>
            </div>
        } 
    } @else {
        @for (user of blockedUsers; track user) {
            <div class="blocks-header">
                <app-chat-info
                    [user]="user"
                ></app-chat-info>
                <div class="icon-actions">
                    <i class="bi bi-person-circle" pTooltip="see profile" tooltipPosition="left" placeholder="Left" (click)="goToUserInfo(user)"></i>
                    <i class="bi bi-x-circle" pTooltip="remove blocked" tooltipPosition="left" placeholder="Left" (click)="removeBlocked(user)"></i>
                </div>
            </div>
        } @empty {
            Empty list of blocks
        }
    }
</div>