<!-- <div id="game-list" height="500px">
	<div class="game-item" *ngFor="let gamehtml of gameshtml">
	  <div class="player">{{ gamehtml.playerblue }}</div>
	  <div class="score">{{ gamehtml.scoreblue }}</div>
	  <div class="vs">vs</div>
	  <div class="score">{{ gamehtml.scorered }}</div>
	  <div class="player">{{ gamehtml.playerred }}</div>
	  <div class="time-left">{{ gamehtml.timeLeft }}</div>
	  <button class="spectate-button" (click)="spectateGame(gamehtml)">Spectate</button>
	</div>
</div> -->