<div *ngIf="channelUsers.size">
    <div *ngFor="let u of channelUsers | keyvalue" >
        <div *ngIf="u.value.user" class="channelUser-row">
            <app-chat-info
                [user]="u.value.user"
            ></app-chat-info>
            @if (u.value.isOwner) {
                <p-tag [value]="u.value.status"
                       [style]="{
                            'background': 'linear-gradient(-225deg,#AC32E4 0%,#7918F2 48%,#4801FF 100%)'
                        }"
                ></p-tag>
            } @else {
                @if (u.value.status==='MUTED') {
                    <p-tag
                        [value]="u.value.status"
                        [pTooltip]="getTimeMuted(u.value)"
                        [severity]="getSeverity(u.value)"
                    ></p-tag>
                } @else {
                    <p-tag
                        [value]="u.value.status"
                        [severity]="getSeverity(u.value)"
                    ></p-tag>
                }
            }
            <app-channel-management-actions
                [userChannel]="u.value"
                [myChannelUser]="myChannelUser"
         ></app-channel-management-actions>
        </div>
    </div>
</div>