<!-- <button (click)="newGame()">newGame</button> -->
<div>
  @for (game of games; track game.gameId) {
    <app-result-card
      [game]="game"
      (spectateEvent)="spectateGame($event)"
    ></app-result-card>
  }
</div>

<div #noMatches *ngIf="html_nomatches === 1" style="width:100%; height:100%;" width="2000px">
	<h1 style="text-align: center;">No matches are being played currently</h1>
	<button class="playgamebutton" (click)="joinQueue()" style="background-color: #302F3F;text-align: center;height:100px;width:50%;display: block;margin-left: 25%;">Wanna do something about it?</button>
</div>


