<ng-template #content let-offcanvas>
	<div [ngClass]="theme" class="offcanvas-container">
		<div class="my-offcanvas-header">
			<div class="my-offcanvas-tittle" >{{dts.login}}</div>
			<div class="icon-actions">
				<i class="bi bi-x-square" pTooltip="Close" (click)="offcanvas.dismiss('Cross click')"></i>
			</div>
		</div>
		<div class="offcanvas-body">
			<div class="card justify-content-center" style="width: 23rem;">
					<img src={{dts.avatar}} class="card-img-top" alt="...">
				<div class="offcanvas-position">
					<div class="card-body">
						<h4 class="card-title ">Pos: {{dts.position}}/{{dts.total}} <br> Points: {{dts.points}}</h4>
					</div>
					<div class="card-body card-medals">
						@if( dts.position === 1) { <img src="assets/medal-gold.svg"/>
					} @else if(dts.position === 2){ <img src="assets/medal-silver.svg"/>
					} @else if(dts.position === 3){ <img src="assets/medal-bronze.svg"/> }
					</div>
				</div>
			</div>
			<table class="table table-striped">
					<tr>
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
					<tbody>
					<tr>
					<td>Wins</td><td>{{dts.gamesWin}}</td>
					</tr>
					<tr>
					<td>Lose</td><td>{{dts.gamesLose}}</td>
					</tr>
					<tr>
					<td>Ties</td><td>{{dts.gamesDraw}}</td>
					</tr>
					<tr>
					<td>Goals Total</td><td>{{dts.goalsFavor - dts.goalsAgainst}}</td>
					</tr>
					</tbody>
			</table>
			<div class="text-end">
			</div>
		</div>
	</div>
</ng-template>
