<div class="icon-actions">
    @if(!isThisMyself()) {
        @if (userIsAdmin() || userIsOwner()) {
            <i class="bi bi-person-down"
                pTooltip="Demote"
                tooltipPosition="bottom"
                placeholder="Bottom"
                (click)="patchUser('demote')"
            ></i>
        } @else {
            <i class="bi bi-person-down" style="visibility: hidden;"></i>
        }
        @if (!userIsOwner() && !userExtended.isBanned) {
            <i class="bi bi-person-up"
                pTooltip="Promote"
                tooltipPosition="bottom"
                placeholder="Bottom"
                (click)="patchUser('promote')"
            ></i>
        } @else {
            <i class="bi bi-person-down" style="visibility: hidden;"></i>
        }
        @if (!userIsAdmin() && !userIsOwner()) {
            @if (userExtended.isBanned){
                <i class="bi bi-person-check"
                    pTooltip="Unban"
                    tooltipPosition="bottom"
                    placeholder="Bottom"
                    (click)="patchUser('unban')"
                ></i>
            } @else {
                <i class="bi bi-person-slash danger"
                    pTooltip="Ban"
                    tooltipPosition="bottom"
                    placeholder="Bottom"
                    (click)="patchUser('ban')"
                ></i>
            }
        } @else {
            <i class="bi bi-person-down" style="visibility: hidden;"></i>
        }
    }
</div>
<app-alert
    [open]="alertConfig.open"
    [singleMessage]="alertConfig.singleMessage"
    [severity]="alertConfig.severity"
    (eventCloseToast)="closeAlert()"
    >
</app-alert>