<div [ngClass]="theme" class="whole-thing">
    <h3 style="text-align: center; font-size: 50px;">Here comes a new challenger...</h3>
    <div class="user-info">
        <app-shared-avatar [avatar]="user.avatar" [picturesize]="15" width="150px" height="150px" style="height:150px; width:150px;">
        </app-shared-avatar>
        <span class="username" style="font-size: 30px;">
            {{ user.username }}
        </span>
        <div class="challenge-buttons">
            <button (click)="acceptChallenge()" class="acceptbutton" style="margin: 10px;">Accept</button>
            <button (click)="rejectChallenge()" class="rejectbutton" style="margin: 10px;">Reject</button>
        </div>
    </div>
</div>