
.user-info {
    display: flex;
    align-items:  center;
}

.username {
    font-size: 24px;
    margin-right: 20px;
}
   
.challenge-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
   

   

   