$primary-color: #FF6600;
$tab-background: #555555;
$tab-text-color: #FFFFFF;

.admin-panel {
  // position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  // grid-template-columns: repeat(3 , 1fr);
  gap:10px;
  min-height: calc(100vh - 2rem);
}

.admin-window {
  position: relative;
  grid-row: 0;
}

.admin-panel-sidebar {
  grid-row: 1;
}

.admin-panel-nav-tabs {
  display: flex;
  background-color: $tab-background;

  overflow: hidden;

  .admin-panel-nav-tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    color: $tab-text-color;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken($primary-color, 10%);
    }

    &.active {
      background-color: $primary-color;
      font-weight: bold;
    }
  }
}