.channelUser-row  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40rem;
}

.channelUser-row>div{
    gap:10px;
}

.tag-username-pair {
    display: flex;
    align-items: center;
}

.red-box {
    display: flex;
    background-color: red;
    color: white;
    padding: 10px;
    width: 40rem;
    justify-content: center;
  }