.result-card {
    width: fit-content;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    background-color: var(--bg-secondary);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
    
  .score {
    font-size: 24px;
  }
  .result-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }