<!-- app.component.html -->
<div class="chat-app">
    <!-- Barra lateral con la lista de usuarios disponibles -->
    <div class="chat-sidebar">
        <nav class="nav-tabs">
            <a class="nav-tab" [class.active]="isChatTabSeleted()" (click)="showChatTab()">Chat</a>
            <a class="nav-tab" [class.active]="!isChatTabSeleted()" (click)="showChannelTab()">Channels</a>
        </nav>
        <ng-container *ngIf="selectedTab; then channelTabSelected; else chatTabSelected"   >
        </ng-container>
        <ng-template #chatTabSelected>
            <app-chat-sidebar
                [chatsAvailables]="chatsAvailables"
            ></app-chat-sidebar>
        </ng-template>
        <ng-template #channelTabSelected>
            <app-channel-sidebar
                [joinedChannels]="joinedChannels"
            ></app-channel-sidebar>
        </ng-template>
    </div>
    <!-- Ventana de chat -->
    <div class="chat-window">
        <div [ngSwitch]="typeChat">
            <div *ngSwitchCase="'NEW_CHAT'">
                 <app-chat-window
                    [user]="currentUser"
                 ></app-chat-window> 
            </div>
            <div *ngSwitchCase="'CHAT'">
                <app-chat-window
                    [chat]="currentChat"
                    [user]="currentUser"
                ></app-chat-window>  
            </div>
            <div *ngSwitchCase="'CHANNEL'">
                <app-channel-window
                    [channel]="currentChannel"
                ></app-channel-window>
            </div>
            <div *ngSwitchCase="'MANAGE_CHANNEL'">
                <app-channel-management
                    [channel]="currentChannel"
                ></app-channel-management>
            </div>
        </div>
    </div>
</div>
