.chat-app {
  // position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  // grid-template-columns: repeat(3 , 1fr);
  gap:10px;
  min-height: calc(100vh - 2rem);
}
.chat-sidebar {
    grid-row: 1;
}
.chat-window {
  position: relative;
  grid-row: 1;
}

//   button {
//     background-color: #0074D9;
//     color: #fff;
//     border: none;
//     border-radius: 3px;
//     padding: 5px 10px;
//     cursor: pointer;
// }

$primary-color: #FF6600;
$tab-background: #555555;
$tab-text-color: #FFFFFF;

// Style for the navigation tabs
.nav-tabs {
  display: flex;
  background-color: $tab-background;

  overflow: hidden;

  .nav-tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    color: $tab-text-color;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken($primary-color, 10%);
    }

    &.active {
      background-color: $primary-color;
      font-weight: bold;
    }
  }
}

.back-button {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  background: none; /* Elimina el fondo */
  border: none; /* Elimina el borde si lo hubiera */
  padding: 0; /* Elimina el espacio interior */
  cursor: pointer;
}

.button {
  display: block;
  position: relative;
  width: 56px;
  height: 56px;
  margin: 0;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  border: 0;
}

.button:before,
.button:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 7px;
}

.button:before {
  border: 4px solid #F0EEEF;
  transition: opacity .4s cubic-bezier(.77, 0, .175, 1) 80ms, transform .5s cubic-bezier(.455, .03, .515, .955) 80ms;
}

.button:after {
  border: 4px solid #96daf0;
  transform: scale(1.3);
  transition: opacity .4s cubic-bezier(.165, .84, .44, 1), transform .5s cubic-bezier(.25, .46, .45, .94);
  opacity: 0;
}

.button:hover:before,
.button:focus:before {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity .4s cubic-bezier(.165, .84, .44, 1), transform .5s cubic-bezier(.25, .46, .45, .94);
}

.button:hover:after,
.button:focus:after {
  opacity: 1;
  transform: scale(1);
  transition: opacity .4s cubic-bezier(.77, 0, .175, 1) 80ms, transform .5s cubic-bezier(.455, .03, .515, .955) 80ms;
}

.button-box {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.button-elem {
  display: block;
  width: 20px;
  height: 20px;
  margin: 17px 18px 0 18px;
  transform: rotate(180deg);
  fill: #F0EEEF;
}

.button:hover .button-box,
.button:focus .button-box {
  transition: .4s;
  transform: translateX(-56px);
}

@media screen and (max-width: 810px) {
  .mobile-hidden {
    display: none;
  }

  .mobile-visible {
    display: block;
  }

  .chat-app {
    grid-template-columns: unset;
  }
}