<!-- app.component.html -->
<div class="chat-app">
    <!-- Barra lateral con la lista de usuarios disponibles -->
    <div class="chat-sidebar">
        <nav class="nav-tabs">
            <a class="nav-tab" [class.active]="isChatTabSeleted()" (click)="showChatTab()">Chat</a>
            <a class="nav-tab" [class.active]="!isChatTabSeleted()" (click)="showChannelTab()">Channels</a>
        </nav>
        <ng-container *ngIf="selectedTab; then channelTabSelected; else chatTabSelected"   >
        </ng-container>
        <ng-template #chatTabSelected>
            <app-chat-sidebar
                [chatsAvailables]="chatsAvailables"
            ></app-chat-sidebar>
        </ng-template>
        <ng-template #channelTabSelected>
            <app-channel-sidebar
                [joinedChannels]="joinedChannels"
            ></app-channel-sidebar>
        </ng-template>
    </div>
    <!-- Ventana de chat -->
    <div class="chat-window">
        <div [ngSwitch]="typeChat">
            <div *ngSwitchCase="'NEW_CHAT'">
                 <app-chat-window
                    [user]="currentUser"
                 ></app-chat-window>
            </div>
            <div *ngSwitchCase="'CHAT'">
                <app-chat-window
                    [chat]="currentChat"
                    [user]="currentUser"
                ></app-chat-window>
            </div>
            <div *ngSwitchCase="'CHANNEL'">
                <app-channel-window
                    [channel]="currentChannel"
                ></app-channel-window>
            </div>
            <div *ngSwitchCase="'MANAGE_CHANNEL'">
                <app-channel-management
                    [channel]="currentChannel"
                ></app-channel-management>
                <div class="back-button">
                    <button class="button" (click)="goBackToChannel()">
                        <div class="button-box">
                          <span class="button-elem">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46 40">
                              <path d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"></path>
                            </svg>
                          </span>
                          <span class="button-elem">
                            <svg viewBox="0 0 46 40">
                              <path d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"></path>
                            </svg>
                          </span>
                        </div>
                      </button>
                </div>
            </div>
        </div>
    </div>
</div>
