#main_canvas
{
    height: 100%;
    width: 100%;
}

#matchmakingScreen
{
    visibility: "visible";
}

.pongtitle {
  font-family: 'Luckiest Guy';
}

button {
    position: relative;
    background-color: #302F3F;
    border-radius: 50vh;
    box-shadow: #242430 0px 4px 0px 0px;
    padding: 15px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 154px;
    height: 49px;
    color: #fff;
    border: none;
    font-size: 20px;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
  }
  
  button::before {
    content: "";
    background: rgb(2,0,36);
    background-image: linear-gradient(60deg, #2929FD, #FB0A6B);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 700ms ease-in-out;
    display: inline-block;
  }
  
  button:hover::before {
    width: 100%;
  }



  button.tutorialbutton {
    position: relative;
    background-color: #302F3F;
    border-radius: 50vh;
    box-shadow: #242430 0px 4px 0px 0px;
    padding: 15px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 154px;
    height: 49px;
    color: #fff;
    border: none;
    font-size: 20px;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
  }
  
  button.tutorialbutton::before {
    content: "";
    background: rgb(2,0,36);
    background-color: #66f;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 700ms ease-in-out;
    display: inline-block;
  }
  
  button.tutorialbutton:hover::before {
    width: 100%;
  }

  button.cancelbutton {
    position: relative;
    background-color: #f00;
    border-radius: 50vh;
    box-shadow: #700 0px 4px 0px 0px;
    padding: 15px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 154px;
    height: 49px;
    color: #fff;
    border: none;
    font-size: 20px;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
  }
  
  button.cancelbutton::before {
    content: "";
    background: rgb(2,0,36);
    background-color: #a00;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 700ms ease-in-out;
    display: inline-block;
  }
  
  button.cancelbutton:hover::before {
    width: 100%;
  }

  button.backbutton {
    position: relative;
    background-color: rgb(255, 182, 47);
    border-radius: 50vh;
    box-shadow: rgb(128, 91, 24) 0px 4px 0px 0px;
    padding: 15px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 154px;
    height: 49px;
    color: #fff;
    border: none;
    font-size: 20px;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
  }
  
  button.backbutton::before {
    content: "";
    background: rgb(2,0,36);
    background-color: rgb(230, 160, 42);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 700ms ease-in-out;
    display: inline-block;
  }
  
  button.backbutton:hover::before {
    width: 100%;
  }
