<ng-container
*ngIf="
user === undefined;
then alignRight;
else alignLeft
"
>
</ng-container>
<ng-template #alignRight>
    <div class="chat-grid right">
        <div class="chat-message right" >
            <div class="comic-bubble right">
                <p class="msg">
                    {{ msg.message }}
                </p>
                <p class="time">
                    {{ toTimeLocale(msg.createdAt) }}
                </p>
            </div>
        </div>
    </div>

</ng-template>
<ng-template #alignLeft>
    <div class='avatar-grid'>
        <div class='avatar'>
            <img
                src="{{ user?.avatar }}"
                alt="avatar"
                (error)="handleImageError($event)"
            />
        </div>
        <div class="chat-grid left">
            <div class="chat-message left">
                <div class="comic-bubble left">
                    @if (isBlocked){
                        <p class="msg">
                            · · ·
                        </p>    
                    } @else {
                        <p class="msg-title">
                            {{ user?.username }}
                        </p>
                        <p class="msg">
                            {{ msg.message }}
                        </p>
                        <p class="time">
                            {{ toTimeLocale(msg.createdAt) }}
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
</ng-template>