<form class="form" [formGroup]="formGroup" (submit)="saveChannel()">
  <span class="input-span">
    <label for="channelName" class="label">Channel name</label>
    <input type="text" formControlName="channelName" placeholder="ChannelName"/>
  </span>
  <span class="input-span">
    <label for="password" class="label">Password</label>
    <input type="password" formControlName="password" placeholder="Password"/>
  </span>
  <input class="submit" type="submit" [disabled]="formGroup.invalid" value="Save">

  <app-channel-management-users
    [channel]="channel"
  ></app-channel-management-users>

</form>

<app-alert
[open]="alertConfig.open"
[singleMessage]="alertConfig.singleMessage"
[severity]="alertConfig.severity"
(eventCloseToast)="closeAlert()"
>
</app-alert>