<form class="form" [formGroup]="formGroup" (submit)="saveChannel()">
  <span class="input-span">
    <label for="channelName" class="label">Channel name</label>
    <input type="text" formControlName="channelName" placeholder="ChannelName"/>
  </span>
  <span class="input-span">
    <label for="password" class="label">Password</label>
    <input type="password" formControlName="password" placeholder="Password"/>
  </span>
  <input class="submit" type="submit" [disabled]="formGroup.invalid" value="Save">
</form>

<!-- <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Category</th>
            <th>Quantity</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{ product.code }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.quantity }}</td>
        </tr>
    </ng-template>
</p-table> -->

<app-alert
[open]="alertConfig.open"
[singleMessage]="alertConfig.singleMessage"
[severity]="alertConfig.severity"
(eventCloseToast)="closeAlert()"
>
</app-alert>