.chat-input {
  background-color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  border-top: 1px solid #ccc;
  bottom: 0;
}

input[type="text"] {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 10px;
}

.chat-list {
  display: grid;
  gap: 1px;
  overflow-y: auto;
  max-height: calc(100vh - 8rem );
}

.selected {
  background-color: var(--bg-secondary);
}

.channel-header {
  display: flex;
  justify-content: space-between;
  max-width: calc(90vw);
  align-items: center;
}

.bi{
  font-size: 2rem;
  &:hover {
    color: var(--icon-secondary);
  }
}

.icon-actions {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}
