
<div class="sidebar">
    <div class="chat-input">
        <input
            placeholder="Search"
            type="text"
            [(ngModel)]="channelSearchInput"
            (keyup)="filterChannels()"
        />
    </div>
    <div class="chat-list">
        @for (channel of filteredChannels; track channel) {
            <div [class.selected]=isCurrentChannel(channel) class="channel-info" (click)="channelClicked(channel)">
                <app-channel-avatar
                    [channel]="channel"
                ></app-channel-avatar>
                <p class="channelname" [style]="{
                    'text-align': 'center'}">
                    {{ channel.channelName }}
                </p>
            </div>
        }
    </div>
</div>