
<div class="sidebar">
    <div class="chat-input">
        <input
            placeholder="Search"
            type="text"
            [(ngModel)]="channelSearchInput"
            (keyup)="filterChannels()"
        />
    </div>
    <div class="chat-list">
        @for (channel of filteredChannels; track channel) {
            <div [class.selected]=isCurrentChannel(channel) class="channel-header">
                <app-channel-info
                    [channel]="channel"
                ></app-channel-info>
                <div class="icon-actions">
                    <i class="bi bi-chat" pTooltip="Read messages" (click)="seeChannelMessages(channel)"></i>
                    <i class="bi bi-gear" pTooltip="Manage" (click)="channelClicked(channel)"></i>
                </div>
            </div>
        }
    </div>
</div>
