.friend-list-app {
  min-height: calc(100vh - 2rem);
}

$primary-color: #FF6600;
$tab-background: #555555;
$tab-text-color: #FFFFFF;

// Style for the navigation tabs
.nav-tabs {
  display: flex;
  background-color: $tab-background;
  overflow: hidden;

  .nav-tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    color: $tab-text-color;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken($primary-color, 10%);
    }

    &.active {
      background-color: $primary-color;
      font-weight: bold;
    }
  }
}

