.chat-input {
    background-color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
    bottom: 0;
}

input[type="text"] {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 10px;
}

.chat-list {
  display: grid;
  gap: 1px;
  overflow-y: auto;
  max-height: calc(100vh - 8rem );
}

.selected {
  background-color: var(--bg-secondary);
}

.filtered-channels {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.password-input-group {
  display: flex;
  align-items: center;
}

.password-input {
  flex-grow: 1;
  min-height: 50px;
  padding: 0 1rem;
  color: var(--text-primary);
  font-size: 15px;
  border: 1px solid #5e4dcd;
  border-radius: 6px 0 0 6px;
  background-color: var(--bg-secondary);
}

.button--join {
  flex-grow: 1;
  min-height: 50px;
  padding: .5em 1em;
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: #5e4dcd;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.button--join:hover {
  background-color: #5e5dcd;
}

.paswword-input:focus, .paswword-input:focus-visible {
  border-color: #3898EC;
  outline: none;
}


.channel-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.channelicon {
  width: 20px;
  align-self:self-end;
  height: 30px;
  max-width: calc(90vw);
  &:hover {
    transform: scale(1.1);
  }
}