
<ng-template #content let-modal>
    <div class="password-input-group">
        <input  [(ngModel)]="passwordToJoin" type="password" class="password-input"  placeholder="password" (keyup.enter)="joinChannelWithPass()">
        <input class="button--join" value="Join" type="submit" (click)="joinChannelWithPass()">
    </div>
</ng-template>

<div class="sidebar">
    <div class="chat-input">
        <input
            placeholder="Search"
            type="text"
            [(ngModel)]="searchChannel"
            (focus)="channelsToJoin()"
            (keyup)="filterChannels()"
        />
    </div>
    <div class="chat-list">
        <button class="btn btn-outline-secondary me-2"  (click)="newChannel()">New channel</button>
        <ng-container *ngIf="filteredChannels.length ; then newChat; else notNewChat"   >
        </ng-container>
        <ng-template #newChat>
            <div *ngFor="let channel of filteredChannels" >
                @if (channel.isLocked){
                    <div class="filtered-channels" (click)="open(content,channel)">
                        <app-channel-info
                            [channel]="channel"
                        ></app-channel-info>
                        <i class="pi pi-lock" style="font-size: 2rem"></i>
                    </div>
                } @else {
                    <div class="filtered-channels">
                        <app-channel-info
                            [channel]="channel"
                            (click)="joinChannel(channel)"
                        ></app-channel-info>
                    </div>
                }
            </div>
        </ng-template>
        <ng-template #notNewChat>
            <div *ngFor="let channel of joinedChannels | keyvalue" >
                <div [class.selected]="isCurrentChannel(channel.value)" class="channel-container">
                    <app-channel-info
                        [channel]="channel.value"
                        (click)="loadChannel(channel.value)"
                     ></app-channel-info>
                        <i *ngIf="channel.value && amIChannelAdmin(channel.value.channelId)" class="bi bi-gear-fill"
                        style="font-size: 1.75rem" (click)="manageChannel(channel.value)"></i>
                </div>
            </div>
        </ng-template>
    </div>
</div>

<app-alert
[open]="alertConfig.open"
[singleMessage]="alertConfig.singleMessage"
[severity]="alertConfig.severity"
(eventCloseToast)="closeAlert()"
>
</app-alert>