
<ng-template #content let-modal>
    <div class="muted-input-group">
        <input
            class="muted-input"
            placeholder="yyyy-mm-dd"
            name="dp"
            [(ngModel)]="mutedUntill"
            ngbDatepicker
            #d="ngbDatepicker"
            (click)="d.toggle()"
        />
        <input class="button--date" value="Save" type="submit" (click)="muteUntillDate()">
    </div>
</ng-template>

<div class="icon-actions">
    @if(!userChannel.isOwner && !isThisMyself() && (!userIsKicked() || userChannel.isBanned)) {
        <!-- Gestion de permisos (de canal) -->
        @if (!userChannel.isBanned){
            @if (userChannel.isAdmin) {
                <i class="bi bi-person-down" pTooltip="demote" tooltipPosition="bottom" placeholder="Bottom" (click)="patchUser('demote')"></i>
            } @else {
                <i class="bi bi-person-up" pTooltip="promote" tooltipPosition="bottom" placeholder="Bottom" (click)="patchUser('promote')"></i>
            }
        } @else {
            <i class="bi bi-person-up" style="visibility: hidden;" ></i>
        }
        <!-- Baneos (de canal) -->
        @if (!userChannel.isAdmin && !userChannel.isOwner) {
            @if (userChannel.isBanned){
                <i class="bi bi-person-check" pTooltip="unban" tooltipPosition="bottom" placeholder="Bottom" (click)="patchUser('unban')"></i>
            } @else {
                <i class="bi bi-person-slash" pTooltip="ban" tooltipPosition="bottom" placeholder="Bottom" (click)="patchUser('ban')"></i>
            }
        } @else {
            <i class="bi bi-person-slash" style="visibility: hidden;"></i>
        }
        <!-- Muteos -->
        @if (!userChannel.isBanned && !userChannel.isAdmin){
            @if (isMuted(userChannel)) {
                <i class="bi bi-mic" pTooltip="unmute" tooltipPosition="bottom" placeholder="Bottom" (click)="patchUser('unmute')"></i>
            } @else {
                <i class="bi bi-mic-mute" pTooltip="mute" tooltipPosition="bottom" placeholder="Bottom" (click)="open(content)"></i>
            }
        } @else {
            <i class="bi bi-mic" style="visibility: hidden;"></i>
        }
        <!-- Kick -->
        @if (userChannel.leaveAt === null && !userChannel.isAdmin && !userChannel.isOwner) {
            <i class="bi bi-person-x" pTooltip="kick" tooltipPosition="bottom" placeholder="Bottom" (click)="patchUser('kick')"></i>
        } @else {
            <i class="bi bi-person-x" style="visibility: hidden;"></i>
        }
    }
</div>

<app-alert
    [open]="alertConfig.open"
    [singleMessage]="alertConfig.singleMessage"
    [severity]="alertConfig.severity"
    (eventCloseToast)="closeAlert()"
    >
</app-alert>