.bi{
    font-size: 2.6rem;
    &:hover {
      color: var(--icon-secondary);
    }
}

.icon-actions {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-direction: row;
}

.danger {
  color: var(--icon-danger);
  &:hover {
    color: var(--icon-danger-dark);
  }
}