
<div class="search-input">
    <input
        placeholder="Search"
        type="text"
        [(ngModel)]="searchUser"
        (focus)="searchFriend()"
        (keyup)="filterUsers()"
    />
</div>
<div class="user-list">
    @if (filteredUsers.length) {
        @for (user of filteredUsers; track user.userId) {
            <div>
                <app-chat-info
                    [user]="user"
                    (click)="addFriend(user)"
                ></app-chat-info>
            </div>
        } 
    } @else {
        @for (user of friendUsers; track user) {
            <div class="friends-header">
                <app-chat-info
                    [user]="user"
                ></app-chat-info>
                <div class="icon-actions">
                    <i class="bi bi-person-circle" pTooltip="See profile" tooltipPosition="left" placeholder="Left" (click)="goToUserInfo(user)"></i>
                    <i class="bi bi-x-circle" pTooltip="Remove friend" tooltipPosition="left" placeholder="Left" (click)="removeFriend(user)"></i>
                    @if (canSpectate(user.userId)) {
                        <i class="bi bi-eye" pTooltip="Spectate" placeholder="Left" (click)="spectateGame(user.userId)"></i>
                    } @else if (isOnline(user.userId)) {
                        <i class="bi bi-joystick" pTooltip="Challenge" placeholder="Left" (click)="challengeUserid(user.userId)"></i>
                    } 
                </div>
            </div>
        } @empty {
            Empty list of friends
        }
    }
</div>



