:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --icon-primary: #ff7eee;
  --icon-secondary: #df49a6;
  --transition-speed: 600ms;
}


body {
  color: var(--text-primary);
  background-color: var(--bg-primary);
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  margin-left: 16rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--bg-primary);
  height: calc(100vh - 1rem);
}


/* Medium screens */
@media only screen and (max-width: 2000px) {
  main {
    margin-left: 5rem;
  }
}

/* Small screens */
@media only screen and (max-width: 809px) {
  main {
    margin: 0;
    // height: calc(100vh - 10rem);
  }
}


.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --icon-primary: #ff7eee;
  --icon-secondary: #df49a6;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
  --icon-primary: #ff7eee;
  --icon-secondary: #df49a6;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
  --icon-primary: #ff7eee;
  --icon-secondary: #df49a6;
}
