
<div class="sidebar">
    <div class="chat-input">
        <input
            placeholder="Search"
            type="text"
            [(ngModel)]="searchChat"
            (focus)="createNewChat()"
            (keyup)="filterUsers()"
        />
    </div>
    <div class="chat-list">
        @if (filteredUsers.length) {
            @for (user of filteredUsers; track user.userId) {
                <div>
                    <app-chat-info
                        [user]="user"
                        (click)="loadNewChat(user)"
                    ></app-chat-info>
                </div>
            } 
        } @else {
            @for (user of currentUsers; track user[0]) {
                <div class="chat-header" [class.selected]="isCurrentChat(user[0])">
                    <app-chat-info
                        [user]="user[1]"
                        (click)="loadChat(user[0])"
                    ></app-chat-info>
                    <div class="icon-actions">
                        @if (isOnline(user[1].userId)){
                            <i class="bi bi-joystick" pTooltip="Chalenge" placeholder="Left" (click)="challengeUserid(user[1].userId)"></i>
                        }
                    </div>
                </div>
            } @empty {
                Empty list of chats
            }
        }
    </div>
</div>
